@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
}
.stack {
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% * 2);
  animation: slide 60s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-left {
  animation: toTheLeft 60s infinite linear;
}

@keyframes toTheLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}